.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 40px auto;
  grid-template-areas:
  "header header"
  "search map";
  align-content: stretch;

}
.search {
  flex-direction: column;
  display: flex;
  grid-area: search;
  background-color: red;
  width: 100%;
  overflow-y: auto;
}
.search .searchSelect{
  background-color: white;
  width: 100%;
}
select{
  width: 100%;
   height: 2em;
   text-transform: capitalize;
 }
.filteredPlaces .selected{
  background-color: yellow;
}

.map{
  grid-area: map;
  width: 100%;
  height: 100%;
  background-color: blue;
}
.header{
  grid-area: header;
  width: 100%;
  height: 100%;
  background-color: green;
}
.infoWindow{
  width: 300px;
}
.infoWindowImg{
  max-width: 100%!important;
  max-height: 100%!important;
}
.mapContainer{
  height: 100%;
}
@media screen and (max-width: 600px) {
  .App{
    grid-template-columns: 1fr;
    grid-template-rows: 40px 400px auto;
    grid-template-areas:
    "header"
    "map"
    "search";
  }
}
