
h1, h2, p, select, option, .search{
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #dcdee2;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  letter-spacing: 5px;
  font-weight: lighter;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 35px auto;
  grid-template-areas:
  "header header"
  "search map";
  align-content: stretch;
}
.search {
  flex-direction: column;
  display: flex;
  grid-area: search;
  background-color: #383a3d;
  width: 100%;
  overflow-y: auto;
}
.search .searchSelect{
  background-color: #bcc0c6;
  width: 100%;
}
select{
  width: 100%;
  height: 2em;
  text-transform: capitalize;
  background: #d4d6d8;
  font-weight: bold;
  font-size: 16px;
  color: #383a3d;
 }
 option{
  font-weight: bold;
  font-size: 16px;
  color: #383a3d;
 }
.filteredPlaces .selected{
  background-color: #54575b;
}
.filteredPlaces{
  color: #dcdee2;
  font-weight: bold;
}
.filteredPlace{
  padding: 5px;
}

.map{
  grid-area: map;
  width: 100%;
  height: 100%;
}
.header{
  grid-area: header;
  width: 100%;
  height: 100%;
  background-color: #54575b;
}
.infoWindow{
  width: 300px;
}
.infoWindowImg{
  max-width: 100%!important;
  max-height: 100%!important;
}
.mapContainer{
  height: 100%;
}
.error{
  color: red;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .App{
    grid-template-columns: 1fr;
    grid-template-rows: 40px 400px auto;
    grid-template-areas:
    "header"
    "map"
    "search";
  }
}
